<div class="container-fluid callout text-center">
    <h1>Don Easy</h1>
    <h4>
      <p>With 40 years of industry connections,knowledge,and experience within, behind, and on the frontlines 
      of the motion picture industry, Don has so much to share in hands-on work and knowledge. As a long-time 
      member of Teamsters Local 399 and IBEW Local 40, both of Hollywood, CA, he has passionately sought the 
      best interests and common ground of both labor and management to create sustainability and forward movement 
      of the industry. The following is his storyline of his life in the industry to this point.
      </p>
    </h4>
  </div>