<div class="container text-center">
  <h1>Easy Power</h1>
  <h4>
    <p>Easy Power focuses on contracts supplying power to all motion picture production locations, as well as 
    power equipment rentals and classes on supplying power. Additionally, Easy Power is able to supply 
    delivery needs that require Class-C and HAZMAT driving qualifications.
    </p>
  </h4>
</div>