<div class="callout text-center container-fluid">
  <h1>Welcome to the network,</h1>
  <h3>and make valuable industry connections!</h3>
</div>
<div class="container connect-signup-links text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2>Basic membership</h2>
        <br/>
        <h4>Sign up for free and get basic access to the network.</h4>
        <br/>
        <%= link_to "Sign up for Basic", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2>Pro Membership</h2>
        <br/>
        <h4>Sign up for a Pro account: $50. Get access to the network and contact information.</h4>
        <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
  <!--devise allows us to find and verify logged-in user and id. Show this link only if (keeps page from breaking -->
  <%= link_to "Create Your Profile", new_user_profile_path(current_user.id) if user_signed_in? %>
</div>