<div class="callout text-center container-fluid">
  <div class="container">
    <h1>Don Easy</h1>
    <!--Need to code and style this picture the rails & bootstrap way-->
    <img id="me" src="https://www.keepandshare.com/userpics/h/e/a/r/tnhandsfeedback/2018-06/ss/1_28_10_don_easy-70600463.jpg?ts=1529205803" 
    border="0" alt="Image hosting by KeepandShare.com" class="img-fluid" width="100px">
    <h3>More than 40 years experience in the Motion Picture Industry as a 
    CA-C10 electrician (IBEW Local 40) and HAZMAT-certified professional driver (Teamster Local 399) 
    </h3>
  </div>
</div>
<div class="container text-center"><h3>(a periodic select item display of work to go here)</h3>
</div>