<div class="home-callout text-center container-fluid">
  <div class="container">
    <h1>Easy Power</h1>
      <h3>Services provided by Don Easy,  
      a CA-C10 electrician and HAZMAT-certified Teamster driver
      with 40 years experience serving the Motion Picture Industry.
      </h3>
    </div>
</div>