/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
// topography styles
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

h1, h3{
  margin-top: 1em;
}

// background gradient
.navbar.navbar-default.navbar-fixed-top {
  background: #153b2b;
}
.callout {
  background: #73C8A9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #28473a, #71a691);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #28473a, #71a691); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.75;
}

// nav styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #ff0000;
  font-weight: 600;
  &:hover {
    color: #ffff00;
  }
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff000;
}

.navbar-default .navbar-toggle {
  border: 1px solid #73C8A9;
  &:hover, &:focus {
    background-color: #7196a1;
    opacity: 0.75;
  }
}

// home and connect page styles
.callout {
  color: #FFFF00;
  margin-top: .5em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.flash-container {
  position: relative;
  width: 100%;
  opacity: 0.75;
}

.alert-notice {
  // display: none;
}

.alert-notice, .alert, .alert-alert {
  text-align: center;
  background: #d1ebce;
  border-color:  #f7ffff;
  margin-top: 3.75em;
  margin-bottom: -.15em;
  // opacity: 0.50;
}

.connect-signup-links {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}