// show user profile page

.details-container {
  width: 100%;
}

.avatar-show-img {
  width: 100%;
  height: auto;
}

// User Index Page styles
.user-index-avatar {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

.well.color-bg {
  background-color: #d1ebce;
  opacity: 0.85;
}